
#main-sec {
  height: 100vh;
}

#me-pic {
  height: 15%;
  width: 15%;
}

.pic-size {
  height: 90%;
  width: 90%;
}

h3 {
  color: white;
  padding: 15px 0 15px 0;
  width: 90%;
  text-align: center;
  position: relative;
  bottom: 30%;
}

input {
  width: 99.5%;
}

textarea {
  width: 99.5%;
  height: 150px;
}

.footer {
  bottom: 0;
  left:0;
  width:100%;
  padding:20px;
  padding-bottom:16px;
  text-align:center;
  position:fixed;
  transition: .3s linear;
}

